#etch-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    border: 1px solid black; 
}


.square {
   /* Adjust dimensions to create equal-sized squares */
   width: 100%; /* 16 squares per row */
   height: 100%; /* Adjust based on the number of squares */
   border: 1px solid black; /* Add border style */
}
