#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 1px;
    border-color: solid black;
}

.square {
   /* Adjust dimensions to create equal-sized squares */
   width: calc(100% / 16); /* 16 squares per row */
   height: calc(100% / 16); /* Adjust based on the number of squares */
   border: 1px solid black; /* Add border style */
}
